* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;

}




    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        
        margin: 0;
        text-align: center
    }

    .menu {
        list-style-type: none;
        padding: 0;
        display: flex;
    }

    .menu li {
        margin-right: 20px;
    }

    .menu li:last-child {
        margin-right: 0;
    }

    .menu li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: bold;
        transition: color 0.10s ease;

    }

    .menu li a:hover {
        color: rgb(18, 203, 209)
    }

    .zanzin img {
        padding-left: 0%;
    }




    h2 {

        color: hsl(0, 0%, 0%) !important;
        text-align: center;
        font-size: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    p {
        color: #000000;
        font-size: 150%;
    }

    nav ul {
        list-style-type: none;
        text-align: center;

    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    nav ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    main {
        padding: 50px;
    }



    footer {
    background-color: #000000;
    padding: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    p1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 40px;
    }

    h3 {
    text-align: center;


    }

    p2 {

    text-align: center;
    padding-left: 40px
        }

    p3 {
    text-align: center;
}



.social-icons a {
    margin-left: 20px;

}



.social-icons img {
    width: 60px;
    height: 60px;
    border-radius: 90%;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.imagem-personalizada {
    width: 200px;
    height: 50px;
    margin-top: -70px;


}

.footer-content {
    /*fvszvdsafdasfasdf*/
    display: flex;
    flex-direction: column;
    /* Organiza os elementos verticalmente */
    align-items: center;
}

.orange-text {
    color: orange;
    font-size: 30px;

}

.faixa {
    position: relative;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 150px; /* Altura ajustada para 50 pixels */
    background-color: #e98400; /* cor da faixa */
    text-align: center;
}

